*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    height:100vh;
    width: 100%;  
     background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ),
        url('../images/background.png'); 
    /* background-image: url('../images/background.png'); */
    background-position: center;
     background-size: cover; 
      
}
.container{
    /* background-color: blue; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
/* .navbar img{
    width: 5%;
    height: 5%;
} */
nav{
    flex:1;
    text-align: right;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.user-icon{
    width: 40px;
    border-radius: 50%;
    cursor:pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color:#eceef1;
    font-size: 20px;
    padding: 5px 2px;
}
nav ul li a:hover{
    border-bottom: 1px solid #ff6b3f ;
    color:#ffffff;
}

.content{
    max-width: 700px;
    color:#fff;
    margin-top:15% ;
}
p{
    margin-top: 30px;
    font-size: 12px;
    line-height: 22px;
}
.btn-box{
    margin-top: 20px;
}

button{
    width: 150px;
    border:1px solid #ff6b3f;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border-radius: 25px;
    cursor: pointer;
    background: #ff6b3f;
}
.btn{
    border:1px solid #fff;
    background: transparent;
}

.sidebar{
    width: 80px;
    height: 100vh;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.icon{
    width: 70px;
    margin: 30px;
    cursor: pointer;
}
.social-links{
    width: 80px;
    position: absolute;
    bottom: 20px;
}
.social-links img{
    height: 25px;
    display:block;
    margin: 25px auto;
    cursor: pointer;
}